* {
	padding: 0;
	margin: 0;
}

.game {
	display: flex;
	align-items: center;
}

#gameContainer {
	display: flex;
	justify-content: center;
	height: 50vh;
	background-color: #353535;
}

#scoreContainer {
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ctrlBtns {
	cursor: pointer;
	background-color: #284B63 !important;
	color: #fff !important;
}

#ctrlBtnContainer {
	display: flex;
	justify-content: space-around;
	align-itmes: center;
}

.animate {
	animation: jump 500ms;
}

#character {
	position: relative;
	background-color: #3C6E71;
}

#block {
	border-radius: 50%;
	position: relative;
	background-color: #D9D9D9;
	animation: block 3s infinite linear;
}

@keyframes jump {
	0%{top: 150px;}
	30%{top: 100px;}
	45%{top: 100px;}
	100%{top: 150px;}
}

@keyframes block {
	0%{left: 100%;}
	100%{left: 0px;}
}

/* phones */
@media (min-width: 575.98px) { 
	#character {
		width: 60px;
		height: 150px;
		left: 100px;
	}

	#block {
		width: 60px;
		height: 60px;
		top: 45px;
	}

	#scoreContainer {
		font-size: 8rem;
	}
	
	.ctrlBtns {
		font-size: 6rem !important;
	}
}

/* desktops */
@media (min-width: 992px) { 
	#character {
		width: 20px;
		height: 50px;
		left: 100px;
	}

	#block {
		width: 20px;
		height: 20px;
		top: 15px;
	}

	#scoreContainer {
		font-size: 2rem;
	}
	
	.ctrlBtns {
		font-size: 1.8rem !important;
	}
 }